/* ===== DROPDOWN MENU ===== */
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: rgba(0,0,0,0.95);
    min-width: 150px;
    border: 1px solid #00fff7;
    box-shadow: 0 0 10px #00fff7, 0 0 20px #ff00ff;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: #00fff7;
    text-decoration: none;
    transition: 0.3s;
}

.dropdown-content a:hover {
    background: #111;
    color: #ff00ff;
}

.dropdown:hover .dropdown-content {
    display: block;
}
